<section data-ng-controller="DatesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{date.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == date.user._id">
		<a class="btn btn-primary" href="/#!/dates/{{date._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{date.created | date:'mediumDate'}} by {{date.user.displayName}}</em>
	</small>
</section>